
#Python
flask_hippocooking/env
flask_hippocooking/homepage/__pycache__
flask_hippocooking/homepage/main/__pycache__


# Env files
# flask_hippocooking.env
# nginx.env

# VSCode
flask_hippocooking/.vscode/


# Volumes
flask_hippocooking_volume
nginx_volume
