env
.env
__pycache__

#Python
flask_hippocooking/env
flask_hippocooking/homepage/__pycache__
flask_hippocooking/homepage/main/__pycache__


# Env files
# flask_hippocooking.env
# nginx.env

# VSCode
flask_hippocooking/.vscode/


# Volumes
flask_hippocooking_volume
nginx_volume


# Ignore all JSON files in flask_hippocooking/static/recipes/
flask_hippocooking/static/recipes/de/*.json
flask_hippocooking/static/recipes/en/*.json
flask_hippocooking/static/recipes/es/*.json
flask_hippocooking/static/recipes/fr/*.json
flask_hippocooking/static/recipes_images/*.jpg

# Exceptions: Do not ignore specific files
!flask_hippocooking/static/recipes/de/00000.json
!flask_hippocooking/static/recipes/en/00000.json
!flask_hippocooking/static/recipes/es/00000.json
!flask_hippocooking/static/recipes/fr/00000.json
!flask_hippocooking/static/recipes/example.json
!flask_hippocooking/static/recipes_images/00000.jpg
