/* Apply Quicksand font to the entire body */
body,html {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-size: 18px;
}

.custom-container {
    margin: 0 !important; /* Override any Bootstrap margins */
    padding: 0 !important; /* Override any Bootstrap padding */
    width: 100%; /* Ensure full width */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Content container */
.content_box {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* align-items: center;  */
    /* display: flex; */
}

.custom-bg-color1 {
    background-color: #F8F8EC !important; /* Replace with your desired color */
}

/* Style headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif; /* Use a bold or heavier weight if needed */
    font-weight: 600; /* Optional: change to 400 for a normal weight */
}

/* Styling for paragraphs and content */
p, ul, ol, li {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300; /* Lighter weight for body text */
}

/* Add any additional styling you need */
a {
    color: #333; /* Example color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #742424
}

/* Image styling */
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    body {
      font-size: 16px; /* Smaller font size for screens 768px or less */
    }
}
  
@media (max-width: 480px) {
body {
    font-size: 14px; /* Even smaller for smaller screens */
}
}