{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
<meta property="og:image" content="url_for('static', filename='resources/images/logo_huge.png')">
{% endblock %}


{% block content %}
{{ translations.inhalt }}

<!-- Jumbotron -->
<div class="jumbotron text-center bg-light p-5 custom-bg-color1">
    <h1 class="display-4">Hippocooking.com</h1>
    <img src="{{ url_for('static', filename='resources/images/logo_huge.png') }}" alt="Logo of Hippocooking.com" style="max-width: 15%; height: auto;">
</div>



<div class="content_box">
    <!-- Hero Section -->
    <header class="hero">
        <h1>{{ translations.subtitel01 }}</h1>
        <p class="lead">{{ translations.subinhalt01 }}</p>
    </header>

    <!-- About Section -->
    <section class="container content">
        <h2 class="text-center my-5">{{ translations.subtitel02 }}</h2>
        <div class="row g-4">
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{ translations.subsubtitel01 }}</h5>
                        <p class="card-text">{{ translations.subsubinhalt01 }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{ translations.subsubtitel02 }}</h5>
                        <p class="card-text">{{ translations.subsubinhalt02 }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{ translations.subsubtitel03 }}</h5>
                        <p class="card-text">{{ translations.subsubinhalt03 }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


{% endblock %}