{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/impressum.css') }}">
<meta name="description" content="{{ translations.subtitel }}">
<meta property="og:image" content="url_for('static', filename='resources/images/logo_huge.png')">
{% endblock %}


{% block content %}

<div class="content_box">
    <!-- About Section -->
    <section class="container content">
        <h2 class="text-center my-5">{{ translations.subtitel }}</h2>
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p>
                            <strong>{{ translations.name }}</strong><br>
                            {{ translations.strasse }}<br>
                            {{ translations.ort }}<br>
                            <strong>{{ translations.mail }}</strong>:
                            <a href="mailto:contact.blackandwhitedata@gmail.com">contact.blackandwhitedata@gmail.com</a>
                        </p>
                    </div>
        </div>
    </section>

</div>


{% endblock %}