{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/tile.css') }}>
<meta name="description" content="{{ translations_base.beschreibung }}">


{% endblock %}


{% block content %}

<!-- Jumbotron -->
<div class="jumbotron text-center bg-light p-5 custom-bg-color1">
    <h1 class="display-4">{{ translations.willkommen }}</h1>
    <p class="lead">{{ translations.aufbau }}</p>
    <img src="{{ url_for('static', filename='resources/images/logo_huge.png') }}" alt="Logo of Hippocooking.com" style="max-width: 15%; height: auto;">
</div>


<div class="container py-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="tile-gallery">
        {% for json, id_item in zip(json_files, id_data) %}
        <div class="col tile">
            <a href="{{ url_for('recipes.recipe', recipe_id=id_item) }}" class="text-decoration-none">
                <div class="card h-100">
                    {% set image_id = id_item %}
                    <img src="{{ url_for('images.serve_image', image_id=id_item) }}" 
                        class="card-img-top lazy-image" alt="Image {{ json.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ json.name }}</h5>
                        <p class="card-text">{{ json.descriptionShort }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% else %}
        <p>No recipes found.</p>
        {% endfor %}
    </div>
</div>



<!-- <img class="img img-fluid" src="{{ url_for('static', filename='resources/imgage/no_image.jpg') }}"> -->

<script src="{{url_for('static', filename='js/lazy_image_loading.js')}}"></script>

{% endblock %}