{% from 'bootstrap5/form.html' import render_form %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Daniel Schneider"> 

    {% block keywords %}
    <meta name="keywords"
        content="Recipes, tasty">
    {% endblock %}

    {% if title %}
    <title>Hippocooking.com - {{ title }}</title>
    {% else %}
    <title>Hippocooking.com</title>
    {% endif %}


    {{ bootstrap.load_css() }}
</head>
<body>
    {% block content %}{% endblock %}

    {{ bootstrap.load_js() }}
</body>
</html>
