{% from 'bootstrap5/form.html' import render_form %}
<!DOCTYPE html>
<html lang= "{{ locale_id }}" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Daniel Schneider"> 

    {% block keywords %}
    <meta name="keywords"
        content="Recipes, tasty">
    {% endblock %}

    <title>Hippocooking.com {{ translations.titel }}</title>
 
    {% block head %}{% endblock %}


    {{ bootstrap.load_css() }}

    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/base.css') }}>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/footer.css') }}>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    {% block content %}{% endblock %}

    {{ bootstrap.load_js() }}

    <footer class="custom-bg-color1" >
        <p>&copy; 2021-<span id="current-year"></span> Hippocooking.com | <a href="{{ url_for( 'main.about') }}">{{ translations.ueberuns }}</a>  </p>
    </footer>

    <script>
        // JavaScript to set the current year dynamically
        document.getElementById('current-year').textContent = new Date().getFullYear();
    </script>

</body>
</html>
