{% from 'bootstrap5/form.html' import render_form %}
<!DOCTYPE html>
<html lang= "{{ locale_id }}" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Daniel Schneider"> 

    {% block keywords %}
    <meta name="keywords"
        content="Recipes, tasty">
    {% endblock %}

    <title>Hippocooking.com {{ translations.titel }}</title>
 


    {{ bootstrap.load_css() }}
</head>
<body>
    {% block content %}{% endblock %}

    {{ bootstrap.load_js() }}
</body>
</html>
